{% extends '::base.html.twig' %}

{% block content %}

	<h1>Schools</h1>
	<ul>
		{% for school in schools %}
			<li><a href="{{ path('school', {'reference': school.reference}) }}">{{ school.name }}</a></li>
		{% endfor %}
	</ul>

{% endblock %}