{% extends '::base.html.twig' %}

{% block content %}

	<h1>{{ school.name }}</h1>
	
	<h2>Teachers</h2>
	<ul>
		{% for teacher in teachers %}
			<li>{{ teacher.name }}</li>
		{% endfor %}
	</ul>
	
	<h2>Courses</h2>
	<ul>
		{% for course in courses %}
			<li>{{ course.name }}</li>
		{% endfor %}
	</ul>
	
	<h2>Students</h2>
	<ul>
		{% for student in students %}
			<li>{{ student.name }}</li>
		{% endfor %}
	</ul>

{% endblock %}